
<div class="leave-a-review-modal">
    <div class="form_container">
        <form class="form_flex" action="/users/<%= user._id %>/reviews" method="POST">
            <span class="review_header">You are leaving a review for
                <%= user.name %></span>
            <div>
                <textarea class="text_area" name="review[text]" required></textarea>
            </div>
            <div id="form_flex_sub">
                <div>
                    <fieldset class="starability-basic">
                        <input type="radio" id="rate0" class="input-no-rate" name="review[rating]" value="0" checked
                            aria-label="No rating." />
                        <input type="radio" id="rate1" name="review[rating]" value="1" />
                        <label for="rate1" title="Terrible">1 star</label>
                        <input type="radio" id="rate2" name="review[rating]" value="2" />
                        <label for="rate2" title="Not good">2 stars</label>
                        <input type="radio" id="rate3" name="review[rating]" value="3" />
                        <label for="rate3" title="Average">3 stars</label>
                        <input type="radio" id="rate4" name="review[rating]" value="4" />
                        <label for="rate4" title="Very good">4 stars</label>
                        <input type="radio" id="rate5" name="review[rating]" value="5" />
                        <label for="rate5" title="Amazing">5 stars</label>
                    </fieldset>
                </div>
                <div>
                    <input class="action-button" type="submit" value="SUBMIT">
                </div>
            </div>
        </form>
    </div>
</div>