<% include ./partials/header %>

<div id="landing-header">
    <div id="welcome">
        People<br />Places<br /><span id="favors_title">Favors.</span>
    </div>

    <div id="landing_search_div">
        <form action="/favors" method="get" autocomplete="off">
            <input id="landing_search" type="text" name="search" placeholder="e.g. detectives in London" />
        </form>
    </div>
</div>
<% include ./partials/footer %>