<% include ./partials/header %>

    <div id="landing-header">
 		<h1 id="welcome">Welcome to Tusk!</h1>
         <a href="/convo">Test</a>
		<div class="search_bar">
            <form action="/favors" method="get" class="">
                <input type="text" name="search" placeholder="Favor search...">
                <input type="submit" value="search" class="button">
            </form>
        </div>


 <script>


// mapboxgl.accessToken = 'pk.eyJ1IjoiZHVnaXdhcmMiLCJhIjoiY2pxbnJ2OTFxMDNrdjQybXdvdjJjemQ1OSJ9.VIaDlmEN5MtmbksrlqAFbw';
// var map = new mapboxgl.Map({
//   container: 'map',
//   center: [-122.420679, 37.772537],
//   zoom: 13,
//   style: 'mapbox://styles/mapbox/streets-v9'
// });
// </script>
    </div>

<% include partials/footer %>
