<% include ./partials/header %>
<%if(!(currentUser)){%>
    
<!-- multistep form -->
<form class="msform" action="/register" method="post">
  <!-- progressbar -->
  <ul id="progressbar">
    <li class="active">Account Setup</li>
    <li>Social Profiles</li>
    <li>Personal Details</li>
  </ul>
  <!-- fieldsets -->
  <fieldset id="step_1">
    <h2 class="fs-title">Create your account</h2>
    <h3 class="fs-subtitle">Step 1</h3>
    <input type="text" name="email" placeholder="Email" required/>
    <input type="password" id="pass" name="pass" placeholder="Password" required/>
    <input type="password" id="cpass" name="password" placeholder="Confirm Password" required/>
    <input type="button" name="next" class="next action-button" value="Next" />
  </fieldset>
  <fieldset>
    <h2 class="fs-title">Social Profiles</h2>
    <h3 class="fs-subtitle">Add your presence on the social media</h3>
    <input type="text" name="twitter" placeholder="Twitter" />
    <input type="text" name="facebook" placeholder="Facebook" />
    <input type="text" name="instagram" placeholder="Instagram" />
    <input type="button" name="previous" class="previous action-button" value="Previous" />
    <input type="button" name="next" class="next action-button" value="Next" />
  </fieldset>
  <fieldset>
    <h2 class="fs-title">Personal Details</h2>
    <h3 class="fs-subtitle" id="mother">We will never sell it</h3>
    <input type="text" name="name" placeholder="First Name" required/>
    <input type="text" name="surname" placeholder="Last Name" required/>
    <input type="text" name="username" placeholder="Username" id="username_" onfocusout="check_availability()" required/>
    <input type="text"  name="location" placeholder="City"required/>
    <input type="button" name="previous" class="previous action-button" value="Previous" />
    <input type="submit" class="action-button">
    </fieldset>
    </form>
    <% } %>
<script>
  $('.message a').click(function(){
    $('form').animate({height: "toggle", opacity: "toggle"}, "slow");
  });


  const   pass        = document.querySelector('#pass'),
          cpass       = document.querySelector('#cpass'),
          submit      = document.querySelector('#submit'),
          display     = document.querySelector('#mother'),
          step_1      = document.querySelector('#step_1'),
          username    = document.querySelector('#username_');



  var socket = io();
  var usernames = [];
  if(socket !== undefined)
  {
    console.log('Connected');
    
    socket.on('users', function(data){
      data.forEach(function(data){
        usernames.push(data.username);
      })
    })

  }
    function check_availability()
    {
          for(var i = 0; i < usernames.length; i++){
            if(usernames[i] === username.value)
            {
              console.log('taken');
              display.textContent = "Username already taken";
              display.classList.add('red');
              submit.setAttribute('disabled', 'disabled');
              break;
            }
            else
            {
              display.textContent = "Username available";
              display.classList.add('green');
              submit.removeAttribute('disabled');
            }
            
        }
        }



document.body.onkeydown = function(e)
{
    console.log(e.keyCode);
        if(e.keyCode == 13)
    {
        e.preventDefault();
    }
}



        
</script>
<% include ./partials/footer %>
