body {
  display: flex;
  margin: 0;
  background-color: #FFB840;
  flex-direction: column;
}



.current_conversation {
  align-self: center;
  margin-top: 100px;
}

.thumbnail img {
  width: 100%;
}

.thumbnail {
  padding: 0;
}

.btn-link {
  color: grey;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  padding: 0;
  font-family: inherit;
}

.show_favor {
display: flex;
flex-direction: column;
justify-content: safe;
align-self: center;
margin-top: 100px;
margin-bottom: 100px;
padding-bottom: 5px;
background: palegoldenrod;
width: 500px;
}

.radio {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}


.tr_head {
  border:2px solid black;
}

.favor_sm_info p{
  font-size: 10px;
  color: grey;
}

.list2
{
  min-height: 200px;
}

.m_chat
{
  position: relative;
}

.list2 li:last-child
{
  position: absolute;
  bottom: 0px;
}

.table_head {
      font-family: monospace;
      display: flex;
      margin-left: 12px;
      margin-top: 14px;
      margin-right: 12px;
      justify-content: space-between;
}
.table_head_main {
  font-family: monospace;
  display: flex;
  margin-left: 12px;
  margin-top: 14px;
  margin-right: 12px;
  justify-content: space-between;
}

.table_head_main:hover {
  font-family: monospace;
  display: flex;
  background-color:honeydew;
  margin-left: 12px;
  margin-top: 14px;
  margin-right: 12px;
  justify-content: space-between;
}

#total {
  transform: translateX(150px);
}

#item_price {
  transform: translate(190px);
}

.table_bottom {
  transform: translateY(129px);
  font-family: monospace;
  display: flex;
  margin-left: 12px;
  margin-top: 14px;
  margin-right: 12px;
  justify-content: space-between;
}

.quantity {
  transform: translateX(13px);
}

.favor_details {
      font-size: 12px;
      color: grey;
      font-style: italic;
      width: 200px;
      transform: translateX(-20px);
}

.item_desc {
    transform: translateX(-60px);
    width: 80%;
}

.item_desc_info {
  transform: translateX(-32px);
  width: 80%;
}

#form{
  transform: translateY(157px);
}

.tr_head_bottom {
  border:.5px solid black;

  transform: translateY(150px);
}
.invoice {
      background: palegoldenrod;
      height: 500px;
      width: 300px;
      text-align: center;
      align-self: center;
      margin-top: 100px;
      padding: 30px;
      margin-bottom: 100px;
}
hr {
  border: 7px solid black;
  width: 90.5%;
  margin-top: 25px;
}

.favor_description {
    margin-top: -8px;
    margin-right: 17px;
    min-height: 100px;
    margin-left: 17px;
}

.lower_border
{
  margin-top: -19px;
}

.favor_author {
  text-align: center;
  font-family: monospace;
}

.pay_button {
  text-align: center;
}

.favor_panel img {
  height: 35px;
}

.show_favor_body{
  align-self: center;
  justify-content: center;
  display: flex;
  align-items: center;
}

.favor_panel {
height: 200px;
background: #282828;
width: 60px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.favor_author a{
  width: 50px;
  background: yellowgreen;
  margin: 10px;
  padding: 10px;
  color: black;
}

.redpill_bluepill {
  align-self: center;
  width: 90%;
  display:flex;
  border: solid;
  border-width: 8px;
}

#red_pill, #blue_pill {
  font-family: monospace;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  color: palegoldenrod;
  width: 50%;
}


#red_pill {
  background-color: rgb(30, 30, 30);
  transition: background-color .3s;

}

#blue_pill {
  background-color: rgb(30, 30, 30);
  transition: background-color .3s;

}

#red_pill:hover {
  background-color: rgba(215, 145, 8, 0.9);
}

#blue_pill:hover {
  background-color: rgba(213, 17, 117, 0.7);
}

.favor_task {
font-size: 50px;
overflow: auto;
margin-left: 16px;
font-family: fantasy !important;
margin-top: 10px;
margin-bottom: -17px;
}

.search_bar {
  margin-top: 50px;
  align-self: center;
  font-family: monospace;
}

.favor_description img
{
  width: 100%;
}

.button_see_all {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 150px;
  background-color: maroon;
}

.thumbnail .caption-full {
  padding: 9px;
}

.review_left_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 15px;
  margin-left: 15px;
}

.row {
    margin-top: 20px;
    align-items: center;
    margin-top: 16px;
    padding-top: -2px;
}
.user_reviews {
    flex: 0 0 80%;
    display: flex;
    flex-direction: column;
    width: 90%;
    max-height: 122px;
    overflow: auto;
}

.button {
  background-color: mediumpurple;
  border: none;
  font-family: monospace;
  color: white;
  max-width: 57px;
  min-width: 57px;
  text-align: center;
  font-size: 14px;
}
.review_left_text {
  font-size: 12px;
  color: tomato;
  font-family: monospace;
}

.review_middle_section {
    flex: 0 0 77%;
    min-height: 50px;
    background-color: #303030;
    word-wrap: break-word;
    overflow: auto;
    /* width: 95%; */
    margin-left: 15px;
    margin-right: 15px;
}

.review_middle_section p{
  font-size: 13px;
  margin-top: 1px;
  margin-left: 4px;
  word-wrap: break-word;  
  overflow: hidden;
}

.stars {
  display: flex;
}


#my_favors {
  display: flex;
  margin-top: 50px;
  justify-content: center;
}

.stats_box {
    font-family: "Lobster", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    height: 100px;
    background-color: #282828;
    width: 200px;
    color: tomato;
    font-weight: 100;
}

.admin_favor {
  display: flex;

}

#delete-form {
  display: inline;
}

.checked {
  color: orange;
}


nav {
  position: relative;
  /* justify-content: space-evenly; */
  margin-top: 50px;
  perspective: 600px;
}

nav img {
  height: 60px;
}


a {
  text-decoration: none;  
}

a img:hover {
  transform: scale(.9);
}


h1 {
  font-family: 'Lobster';
}


.home {
    font-family: 'Lobster';
    /* display: flex; */
    align-items: center;
    /* justify-content: center; */
    font-size: -webkit-xxx-large;
    background: black;
    color: white;
    width: 237px;
    height: 120px;
    /* -webkit-box-shadow: 0 8px 6px -6px black; */
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;

}


.cloud {
  width: 350px;
  height: 120px;

  background: #FFF;
  background: linear-gradient(top, #FFF 100%);
  background: -webkit-linear-gradient(top, #FFF 100%);
  background: -moz-linear-gradient(top, #FFF 100%);
  background: -ms-linear-gradient(top, #FFF 100%);
  background: -o-linear-gradient(top, #FFF 100%);

  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;

  position: absolute;
  margin: 120px auto 20px;
  z-index: -1;
  transition: ease 1s;
}

.cloud:after,
.cloud:before {
  content: '';
  position: absolute;
  background: #FFF;
  z-index: -1
}

.cloud:after {
  width: 100px;
  height: 100px;
  top: -50px;
  left: 50px;

  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
}

.cloud:before {
  width: 180px;
  height: 180px;
  top: -90px;
  right: 50px;

  border-radius: 200px;
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
}

.x1 {
  z-index:1;
  top: -50px;
  left: 100px;
  -webkit-transform: scale(0.3);
  -moz-transform: scale(0.3);
  transform: scale(0.3);
  opacity: 0.9;
  -webkit-animation: moveclouds 15s linear infinite;
  -moz-animation: moveclouds 15s linear infinite;
  -o-animation: moveclouds 15s linear infinite;
}

.x1_5 {
  top: -80px;
  left: 250px;
  -webkit-transform: scale(0.3);
  -moz-transform: scale(0.3);
  transform: scale(0.3);
  -webkit-animation: moveclouds 17s linear infinite;
  -moz-animation: moveclouds 17s linear infinite;
  -o-animation: moveclouds 17s linear infinite;
}

.x2 {
  left: 250px;
  top: 30px;
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  transform: scale(0.6);
  opacity: 0.6;
  -webkit-animation: moveclouds 25s linear infinite;
  -moz-animation: moveclouds 25s linear infinite;
  -o-animation: moveclouds 25s linear infinite;
}

.x3 {
  left: 250px;
  bottom: -70px;

  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  transform: scale(0.6);
  opacity: 0.8;

  -webkit-animation: moveclouds 25s linear infinite;
  -moz-animation: moveclouds 25s linear infinite;
  -o-animation: moveclouds 25s linear infinite;
}

.x4 {
  left: 470px;
  bottom: 20px;

  -webkit-transform: scale(0.75);
  -moz-transform: scale(0.75);
  transform: scale(0.75);
  opacity: 0.75;

  -webkit-animation: moveclouds 18s linear infinite;
  -moz-animation: moveclouds 18s linear infinite;
  -o-animation: moveclouds 18s linear infinite;
}

.x5 {
  left: 200px;
  top: 300px;

  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  transform: scale(0.5);
  opacity: 0.8;

  -webkit-animation: moveclouds 20s linear infinite;
  -moz-animation: moveclouds 20s linear infinite;
  -o-animation: moveclouds 20s linear infinite;
}

@-webkit-keyframes moveclouds {
  0% {
    margin-left: 1000px;
  }

  100% {
    margin-left: -1000px;
  }
}

@-moz-keyframes moveclouds {
  0% {
    margin-left: 1000px;
  }

  100% {
    margin-left: -1000px;
  }
}

@-o-keyframes moveclouds {
  0% {
    margin-left: 1000px;
  }

  100% {
    margin-left: -1000px;
  }
}

#welcome {
  font-size: 137px;
  margin: 0;
}

h1 {
      text-align: center;
      font-family: 'Lobster';
      font-size: 58px;

}

.warning {
  margin-top: 10px;
  height: 20px;
  width: 50%;
  align-self: center;
  background-color: salmon;
  color: oldlace;
  text-align: center;
  padding: 5px;
  font-family: 'Ubuntu', sans-serif;
}

.left_side{
  display: flex;
  justify-content: center;
  align-items: center;
}


.middle {
  display: flex;
}

.right_side{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.right_side a {
  margin-left: 15px;
}

.success {
  margin-top: 10px;
  height: 20px;
  align-self: center;
  width: 50%;
  background-color: olivedrab;
  color: oldlace;
  text-align: center;
  padding: 5px;
  font-family: 'Ubuntu', sans-serif;
}

.mother_of_favors {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   margin-top: 50px;
}

.favor_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-height: 200px;
    max-height: 200px;
    min-width: 200px;
    max-width: 15%;  
}

.favor_box a {
  display: flex;
    font-family: 'Candal', sans-serif;

  justify-content: center;
  align-items: center;
  background: #202020;
  padding: 3px 5px;
}

.favor_box h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Bowlby One SC', cursive;
    text-align: center;
    max-width: 80%;
    min-width: 80%;
    min-height: 80px;
    font-size: large;
    max-height: 150px;
    background: olivedrab;
    color: black;
    padding: 15px 15px;
}

#landing-header {
  padding-top: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#landing-header {
  display: flex;
}



/*                              */

  .cool>li>a {
    color: palegoldenrod;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    margin: 20px;
  }

  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }

  .cool>li {
    position: relative;
    display: flex;
    justify-content: center;
  }

  .dropdown {
    opacity: 0;
    position: absolute;
    overflow: hidden;
    padding: 20px;
    top: -20px;
    border-radius: 2px;
    transition: all 0.5s;
    transform: translateY(100px);
    will-change: opacity;
    display: none;
    min-width: 200px;
    margin-top: 20px;
  }

  .trigger-enter .dropdown {
    display: block;
  }

  .trigger-enter-active .dropdown {
    opacity: 1;
  }

  .dropdownBackground {
    /* width: 100px; */
    /* height: 100px; */
    position: absolute;
    background: white;
    /* border-radius: 4px; */
    /* box-shadow: 0 50px 100px rgba(50, 50, 93, .1), 0 15px 35px rgba(50, 50, 93, .15), 0 5px 15px rgba(0, 0, 0, .1); */
    transition: all 0.3s, opacity 0.1s, transform 0.2s;
    transform-origin: 50% 0;
    display: flex;
    justify-content: center;
    opacity: 0;
  }

  .dropdownBackground.open {
    opacity: 1;
  }

  .dropdown a {
    text-decoration: none;
    color: #ffc600;
  }

  a.button {
    display: block;
    padding: 10px;
    color: white;
    margin-bottom: 10px;
  }

  /* Matches Twitter, TWITTER, twitter, tWitter, TWiTTeR... */
  /* .button[href*=twitter] {
    background: #019FE9;
  }

  .button[href*=facebook] {
    background: #3B5998;
  }

  .button[href*=courses] {
    background: #ffc600;
  } */



/*/