<div class='left-section'>

    <span id="ls_messages">
      <a href="/users/<%= user._id %>/messages">
        <img src="/pics/inbox.png">
      </a>
      <div id="ls_messages_info">Chat box</div>
    </span>

    <span id="add_new_favor">
      <!-- <a href="/users/<%= user._id %>/favors/new"> -->
        <img src="/pics/new_favor.png">
      <!-- </a> -->
      <div id="add_new_favor_info">Ask for a Favor</div>
    </span>

    <span id="add_interest">
      <a href="/favors">
        <img src="/pics/favors.png">
      </a>
    </span>

    <a id="edit_user">
      <img src="/pics/edit.png">
    </a>

    <a href="#" id="delete_user">
        <img src="/pics/delete_account.png">
    </a>

  </div>