<div class="overall-progress">
  <div id="progress-bar">
    <div id="progress-bar-base"></div>
    <div id="progress-bar-25">
    </div>
  </div>
  <div id="progress-bar-boxes">
    <div class="progress-bar-box" id="pg-gov">Government ID</div>
    <div class="progress-bar-box" id="pg-email">Email Address</div>
    <div class="progress-bar-box" id="pg-pic">Profile Picture</div>
    <div class="progress-bar-box" id="pg-tel">Phone Number</div>
    <div class="progress-bar-box" id="pg-home">Proof of Stay</div>
  </div>
</div>