<% include ../partials/header %>

<style>

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800);
@import url(https://fonts.googleapis.com/css?family=Lobster);

body {
  display: flex;
  flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    margin: 0 auto;
    background-color: #FFB840;
    font-size: 16px;
    align-items: center;
}

.contact_name {
    margin-bottom: 20px;
}

h2,
label {
    display: block;
    text-transform: uppercase;
    font-weight: 700;
    color: black;
}

h2 {
  text-align: center;
  width: 360px;
  font-size: 4rem;
}


input {
    max-width: 400px;
    width: 100%;
    height: 1.8rem;
    border: 0;
}

textarea {
    display: block;
    max-width: 450px;
    width: 100%;
    height: 150px;
    border: 0;
    padding: 0;
}

.left_side{
  display: flex;
  justify-content: center;
  align-items: center;
}


.middle {
  display: flex;
}

.right_side{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.right_side a {
  margin-left: 15px;
}


.dropbtn {
  background-color: #FFB840;
  padding: 16px;
  border: none;
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  font-family: inherit;
}

/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
  transform: scale(.9);
}


/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
}


div {
margin-bottom: 20px;
}

.contact_form button {
    background-color: #98554F;
    font-family: 'Open Sans', sans-serif;
    max-width: 450px;
    width: 100%;
    border: 0;
    color: #FDFEFF;
    font-weight: 700;
    font-size: 1.5rem;
    padding: 10px 0;
    cursor: pointer;
}

.contact_form button:hover {
    transition: all 0.5s ease-in-out;
    background-color: #FDFEFF;
    color: #98554F;
}

</style>

  
      <h2>Let's talk</h2>
<div class="contact_form">

      <form action="/chat" method="post">
        <div>
          <label for="name">Name*</label>
          <input  id="name" type="text" name="enquiry[name]" required>
       </div>
       <div>
         <label for="email">Email*</label>
         <input id="email" type="email" name="enquiry[email]" required>
       </div>
       <div>
         <label for="message">What can we help you with?*</label>
         <textarea id="textarea" name="enquiry[message]" required></textarea>
      </div>
        <button type="submit">Send</button>                   
      </form>
    </div>


<% include ../partials/footer %>
