<% include ../partials/header %>

<h1>Edit <%= user.name %>'s Profile</h1>




<form >
  <input type="file" name="validation_paper" id="validation_paper" onchange="getInfo()" accept="image/*"><br>
  <progress id="progressBar" value="0" max="100" style="width:300px;"></progress>
  <h3 id="status"></h3>
  <p id="loaded_n_total"></p>
  <button id="getImage">Submit image</button>
</form>


<script>

  function getInfo() {
    var file = document.getElementById('validation_paper').files[0];
    console.info("%cFile size: ", 'color: green',(file.size/1024).toString().substring(0,4), 'kb' )
  } 
  function changer(el) {
    return document.getElementById(el);
  }

  changer("getImage").addEventListener("click", (e) => {
    e.preventDefault();
    if(!file){
      alert("You must upload something")
    }    else {
      uploadFile()
    }
  });

  function uploadFile() {
    var file = document.getElementById('validation_paper').files[0];

    // alert(file.name+" | "+file.size+" | "+file.type);
    var formdata = new FormData();
    formdata.append("validation_paper", file);
    var ajax = new XMLHttpRequest();
    ajax.upload.addEventListener("progress", progressHandler, false);
    ajax.addEventListener("load", completeHandler, false);
    ajax.addEventListener("error", errorHandler, false);
    ajax.addEventListener("abort", abortHandler, false);
    ajax.open("POST", "/users/<%= user._id %>/validation?_method=PUT"); 
    ajax.send(formdata);
  }

  function progressHandler(event) {
    changer("loaded_n_total").innerHTML = "Uploaded " + event.loaded + " bytes of " + event.total;
    var percent = (event.loaded / event.total) * 100;
    changer("progressBar").value = Math.round(percent);
    changer("status").innerHTML = Math.round(percent) + "% uploaded... please wait";
  }

  function completeHandler(event) {
    changer("status").innerHTML = event.target.responseText;
    changer("progressBar").value = 100; //wil clear progress bar after successful upload
    alert("File has been uploaded");
  }

  function errorHandler(event) {
    changer("status").innerHTML = "Upload Failed";
  }

  function abortHandler(event) {
    changer("status").innerHTML = "Upload Aborted";
  }
</script>

<% include ../partials/footer %>
