<% include ../partials/header %>

		<div class="search_bar">
            <form class="search-form" action="/favors" method="get" autocomplete="off">
              <input type="text" placeholder="e.g. parfumers in Paris" class="search-input" name="search">
            </form>
            </div>
            <% if(!(users)){%>
            <div id="noMatch">
              <%=noMatch%>
            </div>
            <%}%>
<% users.forEach(function(user){ %>
<div class="userBox">
  <h4>
    <%= user.name %>
  </h4>
  <h3>
    <%= user.surname %>
  </h3>
  <p>

    <a href="/users/<%= user._id %>">See User Profile</a>
  </p>
</div>
<% }); %>

<% include ../partials/footer %>
